@* Landing page *@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 mexico text-center">
        <p class="text-big thick-text">Instant Payments,<br /> Worldwide.</p>
        <a href="@Url.Action("Index","Register") " class="btn btn-primary big-button"><span>Sign up for free</span></a><br />
        <a href="#info" class="btn btn-default big-button"><span>Learn More</span></a>
    </div>
</div>
<a name="info"></a>
<div class="row section text-center">
    
    <div class="col-md-12">
        <br />
        <p class="text-big thick-text">So Many Possibilities</p>
        <p class="caption">All of this and more</p>
    </div>
    <div class="col-md-3">
        <span class="glyphicon glyphicon-credit-card text-v-big"></span><br /><br />
        Add Money From Your Bank Account or Card
    </div>
    <div class="col-md-3">
        <span class="glyphicon glyphicon-send text-v-big"></span><br /><br />
        Send and recieve money
    </div>
    <div class="col-md-3">
        <span class="glyphicon glyphicon-certificate text-v-big"></span><br /><br />
        Earn and Spend Rewards Points
    </div>
    <div class="col-md-3">
        <span class="glyphicon glyphicon-thumbs-up text-v-big"></span><br /><br />
        Easy and Hassle Free
    </div>
    <br /><br /><br />
</div>
<div class="row section text-center lightorange">
    <div class="col-md-12">
        <br />
        <p class="text-big thick-text">Slide Into Our DMs</p>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <p class="caption">Follow us on social media to stay in touch</p>
        <i class="fa icon fa-twitter fa-3x"></i>
        <i class="fa icon fa-facebook fa-3x"></i>
        <i class="fa icon fa-instagram fa-3x"></i>
        <i class="fa icon fa-youtube fa-3x"></i>
    </div>

    <br /><br /><br />
</div>



