
@{
    ViewBag.Title = "_SessionExpired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row text-center">
    <div class="col-md-12">
        <h2>Session Expired</h2>
        <p>Please login again to continue using Amigo Wallet</p>
    </div>
</div>


