ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 10px;
}

footer {
    text-align: center;
    margin-top: -100px;
    padding: 40px 100px;
}


company-name {
    margin-top: 7px;
}


.thick-text {
    font-family: 'Baloo Bhaijaan', sans-serif;
}

.slash {
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.icon {
    margin: 0px 10px;
}

.caption {
    margin-top: 0px;
    margin-bottom: 40px;
}

.section {
    margin-bottom: 100px;
    padding-top: 50px;
    height: 400px;
}

.mexico {
    padding-top: 50px;
    position: relative;
    z-index: 1;
    height: 500px;
}

    .mexico::before {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Palenque_Overview.jpg/800px-Palenque_Overview.jpg");
        content: " ";
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        opacity: .6;
        z-index: -1;
    }
