body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
p,a,span,ul,li,td,tr,small,big,strong,.btn {
    font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Baloo Bhaijaan', sans-serif;
}

.logo {
    margin-top: -5px;
    width: 50px;
}
a:hover, .glyphicon:hover {
    opacity:0.7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}
.thick-text {
    font-family: 'Baloo Bhaijaan', sans-serif;
}
.lightorange {
    background-color:#FFB139;
}

.text-v-big {
    font-size: 100px;
}


.text-big {
    font-size: 70px;
}

.text-med {
    font-size: 40px;
}

.big-button {
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
    width: 300px;
    margin:5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

tr:hover {
    border-left: solid;
    border-width: 5px;
    border-color: #FF3B0C;
}

tr {
    border-left: solid;
    border-width: 5px;
    border-color: transparent;
}